@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    overflow-x: hidden;
  }
  * {
    @apply text-white;
  }
}

@theme {
  --color-primary-1: #5F7ADB;
  --color-primary-2: #A2B2EE;
  --color-secondary-1: #26292B;
  --color-secondary-2: #212525;
  --color-secondary-3: #2E3239;

  --font-heading: "Lexend", sans-serif;
  --font-body: "Gowun Dodum", sans-serif;
}

body {
  @apply bg-secondary-2;
}