@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-1: #10182a;
  --color-secondary-1: #000a12;
  --color-secondary-2: #00080c;

  --color-neutral-1: #28282d;
  --color-neutral-2: #121219;

  --color-highlight-1: #9f9e84;
  --color-highlight-2: #fffacb;

  --font-heading: "Lexend", sans-serif;
  --font-body: "Gowun Dodum", sans-serif;
}

@layer base {
  * { @apply text-white selection:bg-highlight-1 selection:text-secondary-1; }
  body {
    background: url('svg/background/body-bg.svg') no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
  }
  header { @apply bg-linear-to-br from-primary-1/50 to-secondary-2/60 backdrop-blur-md; }
  h1, h2 { @apply text-highlight-1 text-shadow-md text-shadow-black tracking-wider; }
  h2 { @apply font-heading text-xl md:text-2xl lg:text-3xl; }
}