@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-1: #10182a;
  --color-secondary-1: #000a12;
  --color-secondary-2: #00080c;

  --color-neutral-1: #28282d;
  --color-neutral-2: #121219;

  --color-highlight-1: #9f9e84;
  --color-highlight-2: #fffacb;

  --font-heading: "Lexend", sans-serif;
  --font-body: "Gowun Dodum", sans-serif;

  --animate-entry-opacity: entryOpacity 0.5s ease-out backwards paused;
  --animate-entry-slideup: entrySlideUp 0.5s ease-out backwards paused;
  --animate-entry-slidedown: entrySlideDown 0.5s ease-out backwards paused;
  --animate-entry-slideleft: entrySlideLeft 0.5s ease-out backwards paused;
  --animate-entry-slideright: entrySlideRight 0.5s ease-out backwards paused;

  @keyframes entryOpacity {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes entrySlideUp {
    from { opacity: 0; transform: translateY(25%); }
    to { opacity: 1; transform: translateY(0); }
  }
  @keyframes entrySlideDown {
    from { opacity: 0; transform: translateY(-25%); }
    to { opacity: 1; transform: translateY(0); }
  }
  @keyframes entrySlideLeft {
    from { opacity: 0; transform: translateX(25%); }
    to { opacity: 1; transform: translateX(0); }
  }
  @keyframes entrySlideRight {
    from { opacity: 0; transform: translateX(-25%); }
    to { opacity: 1; transform: translateX(0); }
  }
}

@utility animate-play {
  animation-play-state: running;
}

@layer base {
  * { @apply text-white selection:bg-highlight-1 selection:text-black; }
  body {
    background: url('svg/background/body-bg.svg') no-repeat center center;
    background-size: cover;
    overflow-x: hidden;
  }
  header, footer { @apply bg-linear-to-br from-primary-1/60 to-secondary-2/80 backdrop-blur-md; }
  section { @apply mb-[20vh] sm:mb-[25vh] md:mb-[30vh] lg:mb-[40vh] xl:mb-[45vh]; }
  h1, h2 { @apply font-heading text-highlight-1 text-shadow-md text-shadow-black tracking-wider; }
  img { @apply select-none }
}